<blockquote class="quote">
  <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam soluta aliquid nesciunt non fuga quae illo itaque ratione esse, rerum officia error laboriosam repellat assumenda possimus? Similique, dolores fuga placeat modi excepturi optio temporibus est voluptatum voluptatem nulla eius non, magni quos quisquam atque, quia minima sunt tenetur doloremque vero!</p>
  <div class="footer">
    <div class="media">
      <div class="media__image quote__icon">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Author Name</h3>
        <p class="quote__organization">ABC Company</p>
      </div>
    </div>
  </div>
</blockquote>